<div style="text-align:center">
<select (change)="onChange($event.target.value)">
  <option hidden disabled selected value>  </option>
  <option *ngFor="let dom of domainService.domains;let i = index" >{{dom.name}}</option>
</select>
</div>

<form>
    <div>
      <input type="text" class="input" [(ngModel)]="filter"[ngModelOptions]="{standalone: true}"> 
    </div> 
    <br>
    
   <button type="submit" class="Confirm"(click) = 'advancedFilter(filter)'>Search</button>
</form>

<div style="text-align:center" *ngFor="let m of domainService.memes">
  <div class="imageDisplayingDiv" >
  {{m.title}}
     <br>
    <img [src]=m.url>
    <br>
</div>
