<div style="text-align:center">
<select (change)="onChange($event.target.value)">
  <option hidden disabled selected value>  </option>
  <option *ngFor="let dom of domainService.domains;let i = index" >{{dom.name}}</option>
</select>
</div>

<div class = "formandContentWrappingDiv">
<form>
    <div>
      <input type="text" id ="inp" class="input" [(ngModel)]="filter"[ngModelOptions]="{standalone: true}"> 
    </div>     
   <button type="submit" class="formSubmit"(click) = 'advancedFilter(filter)'>Search</button>
   <button type="button" class="Clear"(click) ="filter = '';clear()  ">Clear</button>

</form>
<br>
<br>

<div style="text-align:center" *ngFor="let m of domainService.memes">
  <div class="imageDisplayingDiv" >
  {{m.title}}
     <br>
    <img [src]=m.url>
    <br>
    <hr>
</div>
</div>
</div>