.new{
    float:central;
    color: white;
              border-radius: 4px;
              text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
              background: rgb(66, 184, 221);}
              

div{
    margin:5px;
}

#homeComing{
 	padding:4px 25px;

}
#explore{
	padding:4px 20px;

}

.NavButton {
	
	box-shadow:inset 0px 0px 0px 2px #9fb4f2;
	
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7892c2', endColorstr='#476e9e',GradientType=0);
	background-color:#7892c2;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	padding:4px 6px;
	text-decoration:none;
    text-shadow:0px 1px 0px #283966;
}
.NavButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #476e9e), color-stop(1, #7892c2));
	background:-moz-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-webkit-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-o-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-ms-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#476e9e', endColorstr='#7892c2',GradientType=0);
	background-color:#476e9e;
}
.NavButton:active {
	position:relative;
	top:1px;
}
