.lim{
    
    float:left;
    max-width: 200px;
    max-height: 600px;
    word-wrap: break-word;
    border: 1px solid lightblue;
    margin: 15px;
    background: rgb(240, 240, 240);

}

      img{
          width: 100%;
          height: 80%;
      }

      .del {
        
        background:-moz-linear-gradient(top, #c62d1f 5%, #f24437 100%);
        background:-webkit-linear-gradient(top, #c62d1f 5%, #f24437 100%);
        background:-o-linear-gradient(top, #c62d1f 5%, #f24437 100%);
        background:-ms-linear-gradient(top, #c62d1f 5%, #f24437 100%);
        background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24437',GradientType=0);
        background-color:#c62d1f;
        -moz-border-radius:10px;
        -webkit-border-radius:10px;
        border-radius:10px;
        border:1px solid #d02718;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:14px;
        padding:2px 2px;
        text-decoration:none;
        text-shadow:0px 1px 0px #810e05;
      }
      .del:hover {
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24437), color-stop(1, #c62d1f));
        background:-moz-linear-gradient(top, #f24437 5%, #c62d1f 100%);
        background:-webkit-linear-gradient(top, #f24437 5%, #c62d1f 100%);
        background:-o-linear-gradient(top, #f24437 5%, #c62d1f 100%);
        background:-ms-linear-gradient(top, #f24437 5%, #c62d1f 100%);
        background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24437', endColorstr='#c62d1f',GradientType=0);
        background-color:#f24437;
      }
     
      .edit {
       
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #cbd633), color-stop(1, #e5f233));
        background:-moz-linear-gradient(top, #cbd633 5%, #e5f233 100%);
        background:-webkit-linear-gradient(top, #cbd633 5%, #e5f233 100%);
        background:-o-linear-gradient(top, #cbd633 5%, #e5f233 100%);
        background:-ms-linear-gradient(top, #cbd633 5%, #e5f233 100%);
        background:linear-gradient(to bottom, #cbd633 5%, #e5f233 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#cbd633', endColorstr='#e5f233',GradientType=0);
        background-color:#cbd633;
        -moz-border-radius:10px;
        -webkit-border-radius:10px;
        border-radius:10px;
        border:1px solid #8ab827;
        display:inline-block;
        cursor:pointer;
        color:#0a0a0a;
        font-family:Arial;
        font-size:14px;
        padding:2px 10px;
        text-decoration:none;
        text-shadow:0px 1px 0px #e5f233;
      }
      .edit:hover {
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e5f233), color-stop(1, #cbd633));
        background:-moz-linear-gradient(top, #e5f233 5%, #cbd633 100%);
        background:-webkit-linear-gradient(top, #e5f233 5%, #cbd633 100%);
        background:-o-linear-gradient(top, #e5f233 5%, #cbd633 100%);
        background:-ms-linear-gradient(top, #e5f233 5%, #cbd633 100%);
        background:linear-gradient(to bottom, #e5f233 5%, #cbd633 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5f233', endColorstr='#cbd633',GradientType=0);
        background-color:#e5f233;
      }
     
      
#search{
  float:left;
  clear: both;
  border-radius: 4px;
  border-color: aqua;
  margin:15px;
}

.prev {
	background-color:#44c767;
	-moz-border-radius:14px;
	-webkit-border-radius:14px;
	border-radius:14px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	padding:8px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.prev:hover {
	background-color:#5cbf2a;
}
.prev:active {
	position:relative;
	top:1px;
}


.next {
	-moz-box-shadow:inset 0px 0px 15px 3px #2c75eb;
	-webkit-box-shadow:inset 0px 0px 15px 3px #2c75eb;
	box-shadow:inset 0px 0px 15px 3px #2c75eb;
	background:-moz-linear-gradient(top, #2e466e 5%, #415989 100%);
	background:-webkit-linear-gradient(top, #2e466e 5%, #415989 100%);
	background:-o-linear-gradient(top, #2e466e 5%, #415989 100%);
	background:-ms-linear-gradient(top, #2e466e 5%, #415989 100%);
	background:linear-gradient(to bottom, #2e466e 5%, #415989 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2e466e', endColorstr='#415989',GradientType=0);
	background-color:#2e466e;
	-moz-border-radius:17px;
	-webkit-border-radius:17px;
	border-radius:17px;
	border:1px solid #1b417a;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	padding:8px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}
.myButton:hover {
	background:-moz-linear-gradient(top, #415989 5%, #2e466e 100%);
	background:-webkit-linear-gradient(top, #415989 5%, #2e466e 100%);
	background:-o-linear-gradient(top, #415989 5%, #2e466e 100%);
	background:-ms-linear-gradient(top, #415989 5%, #2e466e 100%);
	background:linear-gradient(to bottom, #415989 5%, #2e466e 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#415989', endColorstr='#2e466e',GradientType=0);
	background-color:#415989;
}
.myButton:active {
	position:relative;
	top:1px;
}

.someDiv{
  float:right; 
clear: left;
padding:10px;
margin:10px;
}

.someDiv1{
clear: left;
padding:10px;
margin:10px;
}

.someDiv2{
  clear:left;
  clear:right;
  width: 100%;
  padding:14;
  border: 1px solid black;
  height:60px;
}


.dropdown {
  position: relative;
  display: inline-block;
  float:left;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 16px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:click .dropdown-content {
   display: block; 
}

.paginationbutton{
  float:left;
  
}
  
