<div style="text-align:center">
    <div class = "paginationOptionWrappingDiv">
    Memes per Page:   <select class ="select" (change)="setPageContent($event)">
        <option value="4">4</option>
        <option value="6">6</option>
        <option value="8">8</option>
    </select>

    </div>

    <div class = "filterBoxWrappingDiv">
    
  <input type="text" [(ngModel)]="filterstr" id="search" (input)="filter($event.target.value)" placeholder="Search">
  
    </div>

    <div *ngFor="let m of memeService.memes ; let i = index" >
      <div class="imageDisplayingDiv" >
       {{m.title}}{{m.index}}
       <br>
      <img [src]=m.image>
      <br>
      <button type="button" class="del" (click)="onDelete(m.id)">Delete</button>
      <button type="button" class="edit" (click)="onEdit(i,m.id)">Edit</button>
      </div>

    </div>

</div>

<div class = "someDiv">   
     <hr>
</div>
<div class ="pageNavButtonsWrappingDiv">
    <button type="button" class="prev" (click)="previous()"[disabled]="currentPage === 1">Previous</button>
    <button type="button" class="next" (click)="next()"[disabled]="currentPage === totalPages">Next</button>
</div>